.crew-details-card {
  max-width: 600px;
  margin: 20px;
  margin-left: 0; /* Sayfanın soluna yaslamak için */
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.crew-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.crew-info > div {
  flex: 1 1 45%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.crew-info strong {
  font-weight: bold;
}

.crew-info span {
  text-align: right;
}

mat-card-actions {
  padding: 10px 0;
}

.crew-certificates {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.crew-certificates > app-crew-certificates {
  flex: 1 1 100%; 
}
